.gallery {
  &__images {
    display: flex;
    flex-wrap: wrap;

    &-item {
      opacity: 0;
      flex-basis: 100%;
      transition: opacity .5s ease-in-out;

      @media only screen and (min-width: map-get($grid-breakpoints, 'md'))  {
        flex-basis: 50%;
      }

      @media only screen and (min-width: map-get($grid-breakpoints, 'lg'))  {
        flex-basis: 33.3333%;
      }

      .active & {
        opacity: 1;
      }

      @for $i from 1 through 15 {
          &:nth-child(#{$i}n) {
            transition-delay: #{$i * 0.1}s;
          }
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    padding-bottom: 66.6666%;
    overflow: hidden;
    background-color: $black;

    &:hover {
      .gallery__item {
        &-hdg {
          opacity: 0;
        }

        &-img {
          opacity: 1;
          transform: scale(1.05);
        }
      }
    }

    &-hdg {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 2;
      color: $white;
      transform: translate(-50%, -50%);
      margin: 0;
      transition: $transition-base;
    }

    &-img {
      position: absolute;
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      z-index: 1;
      opacity: .75;
      transition: $transition-base;
    }
  }
}