.btn {
  display: inline-flex;
  align-items: center;
  padding: 20px 30px;
  border: 2px solid $white;
  font-size: _calc-rem(14px);
  color: $white;
  text-decoration: none;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  transition: $transition-base;

  &:hover {
    background-color: $white;
    color: $charcoal;
  }
}